[submodule "vendor/voiceai"]
	path = vendor/voiceai
	url = /mnt/ssd/gittea/git/repositories/every_holiday/shared_voice_ai.git
	branch = main
[submodule "vendor/voiceaudio"]
	path = vendor/voiceaudio
	url = /mnt/ssd/gittea/git/repositories/every_holiday/shared_voice_audio.git
	branch = main
